<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_307Assessment.Properties.Settings.mssql2203912ConnectionString"
            connectionString="Data Source=tolmount.abertay.ac.uk;Initial Catalog=mssql2203912;Persist Security Info=True;User ID=mssql2203912;Password=hHs9zsfBWp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>